body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f4f4f4;
    background-image: url(../img/desktop-wallpaper-castle-dungeon-ruins-fantasy-art.jpg);
    background-size: cover;
    cursor: url(../img/guerrero.png), auto;
}

h1 {
    font-size: 30px;
    background-color: red;
    border-radius: 5px;
    animation-iteration-count: infinite;
    box-shadow: 2px 2px 5px gray, -2px -2px 5px lightgray;
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.volver {
    justify-self: center;
}
.volver a {
    background-color: red;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px white;
    color: black;
    font-weight: bold;
}
.volver a:hover {
    background-color: black;
    color: red;
}
footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.nivel2 {
    display: flex;
    position: relative;
    margin-left: 25%;
    margin-top: 4%;   
}
.nivel2 div {
    height: 50px;
    background-color: gray;
    background-size: cover;
    border: 3px dashed black;
    border-radius: 5px;
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

.bloque-inicial {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    font-weight: bold;
    position: static;
    color: red;
    text-shadow: 2px 2px 5px black ;
    animation: flotar 5s linear infinite;
}
@keyframes flotar {
    0% {
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5), 
        inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
    }
    50% {
        width: 130px;
        height: 55px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5), 
        inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
    }
    100% {
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5), 
        inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
    }
}

.bloque1 {
    display: none; /* Oculto por defecto */
    position: absolute;
    width: 13px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    top: 0px;
    left: 130px;
    animation: crecer 2s linear alternate;
    animation-iteration-count: 4;

}

.bloque-inicial:hover .bloque1 {
    display: block;
}

@keyframes crecer {
    0% {
        left: 130px;
    }
    25% {
        left: 120px;
    }
    100% {
        height: 200px;
    }
}

.bloque2 {
    display: none; /* Oculto por defecto */
    position: absolute;
    width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 180px;
    left: 0px;
    animation: aparecer 2s;
}


.bloque1:hover .bloque2 {
    display: block;
}

.bloque3 {
    display: none; /* Oculto por defecto */
    position: absolute;
    width: 13px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 3;
    top: -180px;
    left: 135px;
    animation: acercar 4s 2 alternate;

}

.bloque2:hover .bloque3 {
    display: block;
}

@keyframes acercar {
    50% {
        height: 180px;
    }
    100% {
        height: 50px;
    }  
}
.bloque4 {
    display: none; /* Oculto por defecto */
    position: absolute;
    width: 300px;
    height: 30px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 3;
    top: 0px;
    left: 0px;

}
.bloque3:hover .bloque4 {
    display: block;
    opacity: 0;
}

.bloque5 {
    display: none; /* Oculto por defecto */
    position: absolute;
    width: 120px;
    height: 30px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 4;
    top: 0px;
    left: 300px;
    animation: aparicion 2s linear;
}

@keyframes aparicion {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.bloque3:hover .bloque5 {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.bloque5 a {
    box-shadow: 0px 0px 20px black;
    padding: 5px;
    text-decoration: none;
    color: black;
    background-color: red;
    border-radius: 10px;
}

.bloque5 a:hover {
    background-color: black;
    color: red;
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.crono {
    font-family: fantasy;
    padding: 10px;
    background-color: white;
    font-size: large;
    width: max-content;
    margin: auto;
    animation: nervios 1s linear infinite;
    animation-delay: 10s;
    border-radius: 10px;
}
@keyframes nervios {
    50% {
        background-color: red;
    }
}